h1{
    color: 242582;
    text-align: center;
}
h3{
    color: 242582;
    text-align: center;
}
.cardMain{
    background-color: #242582;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}
body{
   background-color: #7DC2AD;
}